.card {
  background: #1F2124;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  text-align: center;
  color: white;
  float: left;
}
@media (max-width: 768px) {
  .card {
    margin: 10px 20px;
    width: calc(100% - 40px);
  }
  .card:first-child {
    margin-top: 20px;
  }
}
.card:nth-child(2) {
  margin: 20px 0px;
  width: 33.3333%;
  padding: 50px 20px;
}
@media (max-width: 768px) {
  .card:nth-child(2) {
    margin: 10px 20px;
    width: calc(100% - 40px);
  }
}
.card .title {
  font-size: 25px;
}
.card .features ul {
  padding: 5px;
  margin: 20px 0 10px 0;
  list-style-type: none;
}
.card .features ul li {
  margin: 10px 0;
  font-size: 18px;
}


  [class*='close-'] {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
  }  
  
  .close-thik:after {
    content: '✖'; /* UTF-8 symbol */
  }